
/* linea divisoria pregunta de inicio
.linea{
    border: dotted black;
    margin-top: 5rem;
    margin-bottom: 5rem;
} */
/* formulario usuario y contraseña */









/* input[type="checkbox"] {
    width: 10rem;
} */
*{
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif
    
}

[type="button"]{
    border: solid honeydew;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 6px #999;
}

[type="button"]:active  {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
}
[type="button"]:hover{
    background-color: #ebf1e2;
    font-size: 1.2rem;
}
input{
    border:none;
    background-color: #def1f5;
    height: 1.5rem;
    border-radius: 10px;
}

h3{
    font-size: 2rem;
}
h4{
    font-size: 1.2rem;
}
h5{
    font-size: 1rem;
}
p{
    font-family: 'Libre Baskerville', serif;
}


/* main-------------------------------------------- */
main{
    margin: 1rem;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
  
    
}

    /* Izquierda---. contenido especifico de formularios inicio y registro */
    .formulario{
        margin: 1rem;
        border-right: solid;
        /* display: flex; */
    }

        /* Primer div.opciones de registrado o no */
        .preguntainicio{
            background-color: #a5d69b;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top:0.5rem;
            padding-bottom:0.5rem;
            text-align: center;
            height: 25rem;
        }
        .preguntainicio  p{
            font-size: 2rem;
        }

            /* "parte de arriba del primer div" */
            .estoyiniciado{
                border: solid black;
                height: 70%;
            }

            .estoyiniciado > p{
                margin-bottom: 0.5rem
            }

                /* Formulario de inicio que aparece con hover */
                .iniciarsesion > form{
                    display:grid;
                    padding-left: 7rem;
                    padding-right: 7rem;
                    align-items: center;
                    border: none;
                }

                [type="button"]{
                    margin-top: 1rem !important;
                    width: 7rem;
                    height: 2.5rem;
                }

            /* Segunda partde del primer div de opcion a registrarse */
            .noestoyiniciado{ 
                display: grid;
                grid-template-columns: 10% 10% 50% 10% 10%;
                justify-content:space-evenly;
                border: solid black;
                height: 20%;
            }
            
            .noestoyiniciado > p{
                margin-top: 1rem;
            }
            .noestoyiniciado > img{
                position: relative;
                width: 2rem;
                margin-left: 1rem;
                margin-top: 0.5rem;
                animation-name: flechas;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }
                /* animacion flechas */

                @keyframes flechas{
                    0% {top: 0px;}
             
                    50% {top: 1.3rem;}

                    100% {top: 0px;}
                }

            .noestoyiniciado:hover{
                background-color: #def1f5;
            }
            .noestoyiniciado:hover > p{
                font-size: 2.2em;
                transition: 1s;
            }

        /* formulario de registro, segundo div general de la izquierda */   
        #registrarse{
            display:grid;
            margin:1rem;
            padding: 1rem;
            padding-left: 3rem;
            padding-right: 3rem;  
            border-left:dashed 1rem #a5d69b;  
            background-image:url(https://st.depositphotos.com/2400497/4432/v/950/depositphotos_44322359-stock-illustration-cartoon-rugby-player.jpg);   
            background-position: right;
            background-size: 10rem;
            background-repeat: no-repeat;
        }

        /* #registrarse > form > label{
            width: 60rem;
            height: 2.5rem;
            margin-bottom: 1rem;
        } */
        #registrarse > form > div{
            margin-top: 1rem;
        }
        [type="checkbox"]{
            width: 1rem !important;
            height: 1rem !important;
            margin-bottom: 0rem !important;
        }
        .boton_registro{
            width: 7rem !important;
            height: 2rem;
        }
        #registrarse > h3{
            margin-bottom:1.5rem;
            margin-top: 0rem !important;

        }
        #hazte_socio{
            display: none;
        }
        #visible{
            display: none;
        }


    /* Derecha ---parte de ubicacion y informacion sobre el lugar y redes para contacto */
    .ubicacion{
        margin: 1rem;
        display:grid;
        right: 0;
        margin-right: 3rem;
        width: fit-content;
        /* border: solid black; */
        /* display: flex; */
    }

        /* zona derecha sticky */
        .sticky{
            height: min-content;
            position: sticky;
            /* position: -webkit-sticky; */
            top: 0;
        }

        /* tamaño del mapa google */
        .sticky > iframe{
            width: 35rem;
            height: 27rem;
        }
        .sticky > h3{
            margin-top: 1rem;
        }

        /* redes sociales e iconos */
        .ubicacion_y_logos{
            height: max-content;
            display: grid;
            grid-template-columns: 90% 10%;
        }

            /* la direccion escrita del lugar */
            .ubicaciontexto{
                margin-left: 1.5rem;
            }

            .ubicaciontexto > p{
                margin-top: 1.5rem;
            }
            .ubicaciontexto > h4{
                margin-top: 1rem;
            }
            .ubicaciontexto > h5{
                margin-top: 1.5rem;
            }

            /* logos de la derecha en grid */
            .logos{
                display: grid;

            }

                /* cada red social especifica dentro de logos*/
                .gmail{
                    
                }

                