/* Navbar container */
.navbar {
    overflow: hidden;
    background-color:#121B3E;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding:1rem 1rem;
    text-decoration: none;
    color: white;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: #F4F4F4;
    padding: 1rem 1rem;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#7090CB;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding:1rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color:#AAA8A6;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  } 

/* --------------------------------footer con copyright y logos -------------------------------*/
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color:#121B3E;
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.5rem;
}

footer > p{
    margin-top: 0.5rem;
    color: white;
}

.iconosfooter > a{
    margin-right: 4rem;
}
@media only screen and (max-width:720px){
    .iconosfooter > a{
        display: none;
    }
}