.objetivos {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flexbox;
    flex-direction: column;
    justify-content: space-around;
    align-items: inherit;
}
.imagenes img{
    width: 50%;
}
.texto {
    max-width: 40% ;
}
.objetivos1{
    display: flex;
    flex-wrap: wrap;
}